# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
*.egg-info/

# Node
node_modules/
npm-debug.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
.env.local
secrets.yaml
service-account-key.json

# Helm
helm/*/charts/
*.tgz

# Logs
*.log
#https://iam.googleapis.com/projects/474372446588/locations/global/workloadIdentityPools/github-pool/providers/github-provider
